<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css'>

    <!-- font-awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
    

    <!-- font-family -->
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <!-- template CSS -->
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="./css/responsive.css" rel="stylesheet">
    <title>index</title>
</head>

<body>


    <section class="tob-heade">
        <div class="top-bar ">
            <div class="container ">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="top-ul">
                            <ul class="ul-elements mt-3 mb-2">
                                <li>
                                    <a href="#" class="sign-in"> <i class="fas fa-user"></i> Sign in</a>
                                </li>
                                <li>
                                    <a href="#" class="sign-in"> <i class="fas fa-heart"></i> Wishlist</a>
                                </li>
                                <li>
                                    <a href="#" class="sign-in"> <i class="fas fa-envelope"></i> Contact-us</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">

                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" style="display: inline-flex;">
                        <div class="dropdown dropdown-fix mobile-hide">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Language
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#"> <img src="./img/united-kingdom.png"
                                        class="flags">English</a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#"> <img src="./img/maps-and-flags.png"
                                        class="flags">Hindi</a>


                            </div>
                        </div>

                        <div class="dropdown mobile-hide">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                USD
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#"> <i class="fas fa-dollar-sign"></i> USD</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#"> <i class="fas fa-rupee-sign"></i> INR</a>

                            </div>
                        </div>

                        <div class="search-collapse mt-2 mb-2 mobile-hide ">
                            <p>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-search"></i>
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <input type="text" class="search-text" placeholder="Search here..."> <i
                                        class="fas fa-search" style="font-size:16px; color: #fff;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="navigation ">
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-nav">
                    <a class="navbar-brand logo" href="#">
                        <img src="./img/logo-removebg-preview (1).png" width="70" height="65" class="d-inline-block"
                            alt=""> Cosmetics
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ">
                            <li class="nav-item active">
                                <a class="nav-link navbar-links home" href="#">Home <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-links" href="#">what's new</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link navbar-links dropdown-toggle nav-sm" href="#" id="navbarDropdown"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    skin care
                                </a>
                                <div class="dropdown-menu  drop-sm" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> A
                                        Matrixyl 3000 Serum </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i>
                                        Coenzyme Q10 Serum</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i>
                                        Squalane 100% Pure </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i>
                                        Matrixyl Synthe 6</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i>
                                        Hyaluronic Serum </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Argan
                                        Oil 100% Pure</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Vitamin
                                        B5 Serum</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link navbar-links dropdown-toggle nav-sm" href="#" id="navbarDropdown"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    make up
                                </a>
                                <div class="dropdown-menu  drop-sm" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> ASERUMS
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Argan
                                        Oil </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Pure
                                        Line </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i>
                                        Cream</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i>
                                        Spray</a>



                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link navbar-links dropdown-toggle nav-sm " href="#" id="navbarDropdown"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    product
                                </a>
                                <div class="dropdown-menu drop-sm" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Body
                                        Deaodrant </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Face
                                        Creams </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Hair
                                        Oil </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Organic
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fas fa-angle-double-right"></i> Body
                                        Lotion</a>



                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-links" href="#">blog</a>
                            </li>


                            <li class="nav-item cart1">
                                <a class="nav-link navbar-links" href="#"> <i class="fab fa-opencart opencart"></i>
                                    &nbsp; 0 item<span class="cart-value"> &nbsp; - <i
                                            class="fas fa-rupee-sign rupee"></i> 0.00</span></a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </section>
    <div class="hero-banner">
        <div class="conatiner-fluid">


            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="2000000">
                        <img src="./img/banner-1_4_1349x1080.jpg" class="d-block w-100" alt="bann">
                        <div class="carousel-caption  d-md-block img-text">

                            <p>NATURAL CLEAR SKIN</p>
                            <h3>THE <span class="best-color">BEST WAY
                                </span> <br>FOR YOUR BODY</h3>
                            <button type="button" class="btn btn-outline-secondary shop-btn">Shop Now...</button>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="2000000">
                        <img src="./img/banner-6_1_1349x600.jpg" class="d-block w-100 img-height" alt="bann">
                        <div class="carousel-caption  d-md-block img-text2">

                            <p>BEAUTY & COSMETICS</p>
                            <h3>LOVE THE WAY FOR <br> <span class="best-color"> YOUR BODY
                                </span></h3>
                            <button type="button" class="btn btn-outline-secondary shop-btn2">Shop Now...</button>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="2000000">
                        <img src="./img/banner-3_1_1349x600.jpg" class="d-block w-100 img-height" alt="bann">
                        <div class="carousel-caption  d-md-block img-text3">

                            <p>NEW COLLECTION</p>
                            <h3>VIP STARTER PACK <br><span class="best-color">$ 149/-
                                </span> </h3>
                            <button type="button" class="btn btn-outline-secondary shop-btn3 shop-btn">Shop
                                Now...</button>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>

    <section class="banner-col">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                    <img src="./img/img-1.jpg" class="col-img ">
                    <div class="col-text">
                        <p>3 DAYS</p>
                        <h3> SAVE 25 % </h3>
                        <div class="para">
                            <p class="only"> ONLY*</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                    <img src="./img/img-3.jpg" class="col-img img-sm">
                    <div class="middle-col">
                        <h3>GLOSSY</h3>
                        <P>STAIN <br>
                            <span class="last-para">FLAWLESS BEAUTY WITH NATURAL<br> CARE</span></P>
                        <!-- <div class="para-text">
                <p>
                FLAWLESS BEAUTY WITH NATURAL CARE
                </p></div> -->
                    </div>

                </div>
                <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                    <img src="./img/img-4.jpg" class="col-img img3-sm">
                    <div class="col-text">
                        <p>SPRING</p>
                        <h3> SWISS BEAUTY </h3>
                        <div class="para">
                            <p class="only"> EVENT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-col">
                            <h3> <i class="fas fa-spray-can sprya-can"></i><span class="featured">FEATURED
                                    PRODUCTS</span> </h3>
                        </div>
                    </div>
                </div>

                <div class="row g-1">
                    <div class="col-md-3">
                        <div class="card p-3">

                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>

                            <div class="text-center"> <img
                                    src="./img/253-2534052_view-product-cosmetics-hd-png-download-removebg-preview.png"
                                    width="200" height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                            padding-top: 5px" ;> <span>NUXE Rêve de Miel Face...</span> <span
                                    class="font-weight-bold d-block">$ 16.25</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div>

                                    <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add
                                        to cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (10
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3">

                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>
                            <div class="text-center"> <img
                                    src="./img/cosmetic-products-ad-3d-skin-care-brand-cream-lotion-png-removebg-preview.png"
                                    width="200" height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                            padding-top: 5px" ;> <span>Paula's choice 2 bha liquid</span> <span
                                    class="font-weight-bold d-block">$ 7.00</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div> <button
                                        class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to
                                        cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (5
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3">
                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>
                            <div class="text-center"> <img
                                    src="./img/558-5587970_cosmetics-hd-png-download-removebg-preview.png" width="200"
                                    height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                            padding-top: 5px" ;> <span>Vichy aqualia thermal serum</span> <span
                                    class="font-weight-bold d-block">$ 7.00</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div> <button
                                        class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to
                                        cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (9+
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3">
                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>
                            <div class="text-center"> <img
                                    src="./img/cosmetic-products-ad-3d-skin-care-brand-cream-lotion-png-removebg-preview.png"
                                    width="200" height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                            padding-top: 5px" ;> <span>Touche Éclat Face...</span> <span
                                    class="font-weight-bold d-block">$ 7.00</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div> <button
                                        class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to
                                        cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (9
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="wrapper-text">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                    <div class="banner-left ">
                        <img src="./img/makeup-products-decorative-cosmetics-on-260nw-1209441505.jpg"
                            class="left-child">
                        <div class="heading">
                            <P>HAR PAL</P>
                            <h3>FASHIONABLE</h3>
                            <P>THE BEAUTY STORE</P>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                    <div class="banner-right">
                        <img src="./img/makeup-professional-cosmetics-on-pink-260nw-1398700589.jpg" class="right-child">

                        <div class="heading-right">
                            <P>BIG BEAUTY</P>
                            <h3>CLEAR SKIN...</h3>
                            <P>SALE UPTO 20%</P>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-col">
                            <h3><i class="fas fa-fire  sprya-can"></i> <span class="featured">TOP SELLING
                                    PRODUCTS</span> </h3>
                        </div>
                    </div>
                </div>

                <div class="row g-1">
                    <div class="col-md-3">
                        <div class="card p-3">

                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>

                            <div class="text-center"> <img
                                    src="./img/558-5587970_cosmetics-hd-png-download-removebg-preview.png" width="200"
                                    height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                        padding-top: 5px" ;> <span>NUXE Rêve de Miel Face...</span> <span
                                    class="font-weight-bold d-block">$ 16.25</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div>

                                    <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add
                                        to cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (10
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3">

                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>
                            <div class="text-center"> <img
                                    src="./img/253-2534052_view-product-cosmetics-hd-png-download-removebg-preview.png"
                                    width="200" height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                        padding-top: 5px" ;> <span>Paula's choice 2 bha liquid</span> <span
                                    class="font-weight-bold d-block">$ 7.00</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div> <button
                                        class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to
                                        cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (5
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3">
                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>
                            <div class="text-center"> <img
                                    src="./img/558-5587970_cosmetics-hd-png-download-removebg-preview.png" width="200"
                                    height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                        padding-top: 5px" ;> <span>Vichy aqualia thermal serum</span> <span
                                    class="font-weight-bold d-block">$ 7.00</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div> <button
                                        class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to
                                        cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (9+
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-3">
                            <button type="button" class="btn btn-outline-primary quick-view"> <i class="far fa-eye"></i>
                                Quick view</button>
                            <div class="text-center"> <img
                                    src="./img/cosmetic-products-ad-3d-skin-care-brand-cream-lotion-png-removebg-preview.png"
                                    width="200" height="200"> </div>
                            <div class="product-details" style="border-top: 1px dashed #e3e3e3;
                        padding-top: 5px" ;> <span>Touche Éclat Face...</span> <span class="font-weight-bold d-block">$
                                    7.00</span>
                                <div class="buttons d-flex flex-row">
                                    <div class="cart"><i class="fa fa-shopping-cart cart2-icon"></i></div> <button
                                        class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to
                                        cart </button>
                                </div>
                                <div class="weight"> <small> &#10084;&#10084;&#10084;&#10084;&#10084; (9
                                        Reviews)</small> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>



    <section class="blog-section">
        <div class="blog">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-3">
                        <div class="blog-col">
                            <h3> <i class="fas fa-blog sprya-can"></i> <span class="featured">LATEST BLOGS</span> </h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-border">

                        <img src="img/product8.jpg" class="blog-img1">

                        <div class="blog-text">
                            <h3> <a href="#"> 8 TIPS TO SUMMER-PROOF YOUR MAKEUP With our products</a> </h3>
                            <p class="italic">19 March, 2021</p>
                            <button type="button" class="btn btn-outline-primary blog-btn"> Read more</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-border middle-col-fix">

                        <img src="img/product5.jpg" class="blog-img1">

                        <div class="blog-text">
                            <h3> <a href="#"> Lockdown Fitness: Easy Home Workouts To Stay Fit</a> </h3>
                            <p class="italic">02 Aprail, 2021</p>
                            <button type="button" class="btn btn-outline-primary blog-btn"> Read more</button>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-border">

                        <img src="img/product1.jpg" class="blog-img1">

                        <div class="blog-text">
                            <h3> <a href="#"> Beauty Benefits of Neem Oil For Skin and Hair</a> </h3>
                            <p class="italic">21 Aprail, 2021</p>
                            <button type="button" class="btn btn-outline-primary blog-btn"> Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="brand-section">
        <div class="testimonial-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="brand-col">
                            <h3> <i class="fas fa-blog sprya-can"></i> <span class="featured">TOP BRANDS</span> </h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12">
                        <div class="brand">
                            <div id="app">
                                <div class="main-container">
                                    <div class="container logosCarousel">

                                        <div class="columns logoBlock is-marginless is-mobile">
                                            <!-- Iterate column -->
                                            <template v-for="(logoList, colId) in logoLists">
                                                <div :key="colId" class="column">
                                                    <!-- Iterate row -->
                                                    <div v-for="(logo, rowId) in logoList[`column${colId + 1}`]"
                                                        :key="rowId"
                                                        :class="['carousel', `carousel${colId + 1}`, setActiveClass(colId, rowId)]">
                                                        <i :class="logo.src"></i>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div </div>
                             </div>
                             </div> 
                             </div>
                             <div class="row">
                                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                                    <div class="student-reviews">
                                        
                                                    
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>


    <section class="testimonial">
        <div class="testimonial-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="brand-col">
                            <h3> <i class="fas fa-blog sprya-can"></i> <span class="featured">WHAT PEOPLE SAY ABOUT US</span> </h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">

<section id="testim" class="testim">
    <!--         <div class="testim-cover"> -->
                <div class="wrap">
    
                    <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                    <ul id="testim-dots" class="dots">
                        <li class="dot active"></li><!--
                        --><li class="dot"></li><!--
                        --><li class="dot"></li><!--
                        --><li class="dot"></li><!--
                        --><li class="dot"></li>
                    </ul>
                    <div id="testim-content" class="cont">
                        
                        <div class="active">
                            <div class="img"><img src="./img/profile-1.jpg" alt=""></div>
                            <h2>Jennifer Auston</h2>
                            <p>The brand brought the heat with a new formula that makes skin look so good.</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="./img/profile-3.jpg" alt=""></div>
                            <h2>Mike Huston</h2>
                            <p>As my complexion is recovering from hormonal acne breakouts, the calming elixir is coming to the rescue.</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="./img/profile-2.png" alt=""></div>
                            <h2>Sara Johnson</h2>
                            <p>The wildcrafted ingredients appeal to my inner Brooklynite</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="./img/profile-4.png" alt=""></div>
                            <h2>John Dao</h2>
                            <p>I can't believe there was a time when I thought face oil was — gulp — unnecessary.</p>                    
                        </div>
    
                        <div>
                            <div class="img"><img src="./img/profile-3.jpg" alt=""></div>
                            <h2>Sam Andreson</h2>
                            <p>This easy-to-use roller is proof that skin-care tools don't necessarily need flashing lights and vibrations to be effective.</p>                    
                        </div>
    
                    </div>
    
                </div>
    <!--         </div> -->
        </section>
    
    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
    
                    </div>
                </div>
                </div>
                </div>
                </section>
<section class="footer">
    <div class="container shipping">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12">
                <div class="col-md-4">
                    <i class="fas fa-truck truck"></i>
                </div>
                <div class="col-md-8">
                    <div class="free-shipping">
                        <h3>FREE SHIPPING</h3>
                        <P>for orders above INR 500/-</P>

                    </div>

                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 shipping-col">
                <div class="col-md-4">
                    <i class="fas fa-tags tags"></i>
                </div>
                <div class="col-md-8">
                    <div class="discount">
                        <h3>DISCOUNT ON ORDERS</h3>
                        <P>Save upto 2000/- and above</P>

                    </div>

                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 shipping-col">
                <div class="col-md-4">
                    <i class="far fa-comment comment"></i>
                </div>
                <div class="col-md-8">
                    <div class="help">
                        <h3>NEED ON HELP</h3>
                        <P>Reach us by abc@gmail.com</P>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                <div class="footer-img">
                    <img src="./img/img-4.jpg" class="img-footer">
                </div>
               
            </div>
            <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                <div class="footer-heading">
                    <h3>INFORMATION</h3>
                    <ul class="info-ul">
                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> About us</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> Shop</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> News Archive</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> Photos Archive</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> Videos Archive</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> Magazine Archive</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                <div class="footer-heading">
                    <h3>MY ACCOUNT</h3>
                    <ul class="info-ul">
                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> My orders
                            </a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> My credit slips</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> My addresses</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> My personal info</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> Contact Us</a>
                        </li>

                        <li>
                            <a href="#" class=""> <i class="fas fa-angle-double-right"></i> Feedback</a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12">
                <div class="footer-heading">
                    <h3>NEWSLETTER</h3>
                   
                    <p class="newsletter">Join Our newsletter to get latest update, blog and subscribe the youtube channel... </p>
                
                    <form>
                        <div class="form-group">
                          <!-- <label for="exampleFormControlInput1">Email address</label> -->
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        </form>
                        <button type="button" class="btn btn-outline-primary subscribe"> Subscribe Us</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-dribbble"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <h3>Copyright 2021. All Rights Reserved.</h3>
                    <p>Developed By<span class="name"> Mohd Shahrukh</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>


    <!--  Template JS -->
    <script src="./js/main.js"></script>
    <script src="./js/jquery.min.js"></script>

</body>

</html>